#quick-find-item-cover {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 99998;
}

#quick-find-item-popup {
	padding: 5px;
	background: #fff;
	border-radius: 5px;
	position: absolute;
	border: 3px inset;
	z-index: 99999;
}

#quick-find-item-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	overflow: hidden;
}

#quick-find-item-list {
	border-top: 1px solid #ddd;
}

#quick-find-item-list li {
	padding: 3px;
	background: #fff;
	color: #555;
	border: 1px solid #ddd;
	border-top: 0;
}

#quick-find-item-list li:hover {
	color: #000;
	background: #ddd;
}

#quick-find-item-list li.selected {
	background: #337ab7;
	border-color: #337ab7;
	color: #fff;
}

#quick-find-item-input {
	padding: 3px;
	border: 1px solid #444;
}